@theme{
    --color-primary-blue-500: #8BABD9;
    --color-primary-cyan-400: #00FFF6;
    
    --color-neutral-blue-950: #0C182B;
    --color-neutral-blue-900: #14243D;
    --color-neutral-blue-800: #2E415A;

    --color-white: #FFFFFF;
}